* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: beige;
  --hv-color: bisque;
  --lb-bg-color: #ddd;
}
body {
  background-color: var(--main-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-width: 75rem;
  width: 95%;
  margin: 1em auto 1em;
  overflow: hidden;
}
.slider {
  display: flex;
  background-color: var(--hv-color);
  height: inherit;
  width: 715%;
  overflow: hidden;
  transition: transform ease-in-out 0.5s;
  border-radius: 1rem;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}
.wrapper > input {
  display: none;
}
.slide {
  height: inherit;
  width: 14%;
  background-size: cover;
  background-repeat: no-repeat;
}
.sl1 {
  background-image: url(./assets/1.jpg);
}
.sl2 {
  background-image: url(./assets/2.jpg);
}
.sl3 {
  background-image: url(./assets/3.jpg);
}
.sl4 {
  background-image: url(./assets/4.jpg);
}
.sl5 {
  background-image: url(./assets/5.jpg);
}
.sl6 {
  background-image: url(./assets/4.jpg);
}
.sl7 {
  background-image: url(./assets/6.jpg);
}

#sl2:checked ~ .slider {
  transform: translateX(-14%);
}
#sl3:checked ~ .slider {
  transform: translateX(-28%);
}
#sl4:checked ~ .slider {
  transform: translateX(-42%);
}
#sl5:checked ~ .slider {
  transform: translateX(-56%);
}
#sl6:checked ~ .slider {
  transform: translateX(-70%);
}
#sl7:checked ~ .slider {
  transform: translateX(-84%);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.text-slider {
  display: flex;
  overflow: hidden;
  width: 714%;
  transition: transform ease-in-out 0.5s;
}
.text_container {
  overflow: hidden;
  width: 50%;
  font-size: 1.5rem;
  line-height: 2rem;
}
.text {
  animation: slideIn 1s forwards;
  width: 14%;
  font-style: italic;
  font-weight: 600;
}

#sl2:checked ~ .container .text_container .text-slider {
  transform: translateX(-14%);
}
#sl3:checked ~ .container .text_container .text-slider {
  transform: translateX(-28%);
}
#sl4:checked ~ .container .text_container .text-slider {
  transform: translateX(-42%);
}
#sl5:checked ~ .container .text_container .text-slider {
  transform: translateX(-56%);
}
#sl6:checked ~ .container .text_container .text-slider {
  transform: translateX(-70%);
}
#sl7:checked ~ .container .text_container .text-slider {
  transform: translateX(-84%);
}
.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 0.7rem solid var(--main-color);
  border-radius: 50%;
  background-color: var(--lb-bg-color);
  transition: background ease-in-out 0.7s;
}
.wrapper label:hover {
  background: var(--lb-bg-color);
  transform: scale(1.1) translate(0%, -10%);
}
.wrapper label:active {
  transform: scale(1.2);
  background-color: black;
}

.controls {
  align-items: center;
}

#sl1:checked ~ .container .controls #lb1 {
  background-color: var(--hv-color);
}
#sl2:checked ~ .container .controls #lb2 {
  background-color: var(--hv-color);
}
#sl3:checked ~ .container .controls #lb3 {
  background-color: var(--hv-color);
}
#sl4:checked ~ .container .controls #lb4 {
  background-color: var(--hv-color);
}
#sl5:checked ~ .container .controls #lb5 {
  background-color: var(--hv-color);
}
#sl6:checked ~ .container .controls #lb6 {
  background-color: var(--hv-color);
}
#sl7:checked ~ .container .controls #lb7 {
  background-color: var(--hv-color);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .controls {
    text-align: center;
  }
  .text_container {
    overflow: hidden;
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }
}
